@charset "UTF-8";
/* CSS Document */

@import 'https://fonts.googleapis.com/css?family=Space+Mono';

.menublock {
	width: 100%;
	height: auto;
	padding-top: 8em;
	padding-bottom: 8em;
	margin: 10px;
	border-style: solid;
	 border-width: 5px;
	 border-color: black;
	 color: black;

}


}
H1 {
	font-family: 'Space Mono', monospace ;
}
H2 {
	font-family: 'Space Mono', monospace;
}
.header1{
	font-family: 'Space Mono', monospace ;
	height: 15em;
	padding-top: 5em;
}
hr{
	margin-bottom: 1em;
	margin-top: 1em;
}
