@charset "UTF-8";
/* CSS Document */

@import 'https://fonts.googleapis.com/css?family=Space+Mono';

.menublock {
	width: 100%;
	height: auto;
	padding-top: 8em;
	padding-bottom: 8em;
	margin: 10px;
	border-style: solid;
	 border-width: 5px;
	 border-color: black;
	 color: black;

}


}
H1 {
	font-family: 'Space Mono', monospace ;
}
H2 {
	font-family: 'Space Mono', monospace;
	margin-bottom: 1em;
}
.header1{
	font-family: 'Space Mono', monospace ;
	height: 15em;
	padding-top: 5em;
}
hr{
	margin-bottom: 3.5em;
	margin-top: 3.5em;
	border-width: 2px;
}
ol {
	padding-left: 0.5em;

}
.carousel-control.left, .carousel-control.right {
    background-image: none;
		outline: none;
}
p{
	line-height:150%;
}
